<Files "ogm-quoter-internal.html">
  Require all denied
</Files>

<Files "quote-search.html">
  Require all denied
</Files>

<Files "OGM_Hub.html">
  Require all denied
</Files>

<Files "OGM_CustomerDB.html">
  Require all denied
</Files>

<Files "OGM_InvoiceManager.html">
  Require all denied
</Files>

<Files "OGM_SalesReports.html">
  Require all denied
</Files>

<Files "OGM_Calendar.html">
  Require all denied
</Files>

<Files "OGM_GlassQuoter.html">
  Require all denied
</Files>

<Files "OGM_ShowerBuilder.html">
  Require all denied
</Files>

<Files "OGM_JobTracking.html">
  Require all denied
</Files>
